/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.jumbotron {
    padding-top: 9em;
    padding-bottom: 9em;
}

#main-navbar .nav-link {
    color: white;
}

#main-navbar .nav-link.active, #main-nav .show > .nav-link {
    color: #f70000;
    background: transparent;
  }

  #main-navbar .nav-link:hover {
    color: #f70000;
    background: rgba(255,255,255,.10);
}

#footer-nav .nav-link {
    color: white;
    font: Avantgarde
}

#footer-nav .nav-link.active, #footer-nav .show > .nav-link {
    color: #f70000;
    border: solid white 1px;
    background: transparent;
  }

  #footer-nav .nav-link:hover {
    color: #f70000;
    background: rgba(255,255,255,.10);
}
#item-table_wrapper {
    overflow: auto;
    white-space: nowrap;
} 
.card-body {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
.card-title{
    font-size: 1.5625em;
    line-height: 1;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 25px;
}
.btn{
     text-decoration: none;
//     cursor: pointer;
//     display: inline-block;
//     vertical-align: baseline;
     border: 0;
//     text-align: center;
     background-color: transparent;
//     // -webkit-transition: color 500ms, background 500ms;
//     // -o-transition: color 500ms, background 500ms;
//     // transition: color 500ms, background 500ms;
     padding: .675em 1.3em;
     // font-size: 18px;
//     // font-weight: 600;
      line-height: 1.2;
//     // text-transform: uppercase;
//     // letter-spacing: .75px;
//     // background: #000;
     font-family: "Barlow Condensed", sans-serif;
     // color: #fff;
}
.display-4{
    font-family: "Barlow Condensed",sans-serif;
    display:block;
    font-size: 45px;
}
.mb-0{
    font-family: "Montserrat",sans-serif;
    font-size: 19px;
}
